<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tc.openantrag4android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/open_antrag"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.tc.openantrag4android.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.tc.openantrag4android.ShowProposalAct"
            android:label="@string/app_name" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name="org.tc.openantrag4android.ProposalListAct"
            android:label="@string/app_name" >
            <intent-filter>
                
            </intent-filter>
        </activity>
        <activity
            android:name="org.tc.openantrag4android.ShowProposalProcessAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.tc.openantrag4android.ShowProposalCommentsAct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.tc.openantrag4android.ShowRepresentativeAct"
            android:label="@string/app_name" >
        </activity>
        
 
    </application>

</manifest>
